body {
    background-color: black;
    color: white;   
}

.navbar-nav {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: row;
    max-width: 98%;
}

.abut {
    margin: 5px;
}
.info-yo {
    font-size: 20px;
}
.foto-yo {
    max-width: 200px;
    padding: 15px;
}

.about-me{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    float: right;
    flex-direction: column;
    margin: 0px 75px;
}

.workText{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    float: right;
    flex-direction: row;
}
.prevWork {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    float: right;
    margin: -70px 345px 0px 0px;
}
.climas-pic {
    max-width: 150px;
}
.smList {
    margin: 0px -25px;
}
.contact-me-list {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 5px 5px 5px 25px;
}

li {
    list-style: none;
}
.fa {
    padding: 15px;
    font-size: 35px;
    max-width: 250px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
